<h1>
  Olá Handlebars com Layout!
</h1>

<!--IF and ELSE-->
  {{#if approved}}
<p><strong>Seu cadastro foi aprovado!</strong></p>

  {{else}}
    <p><strong>Seu cadastro não foi aprovado</strong></p>
  {{/if}}


<p>O nome do usuário é:{{user.name}} {{user.surname}}. Ele tem {{user.age}} anos </p>

  <p>Ele ama {{hobby}}</p>

  {{#if auth}}
  <p>Você está autenticado, <a href="/dashboard">clique aqui</a> para acessa a área de membros.</p>

{{/if}}